<table>

  <tr>
    <th>Country Name</th>
    <th>Country Area</th>
    <th>Country Code2</th>
    <th>Actions</th>
  </tr>

  <tr *ngFor = "let country of countries | async">
    <td>{{ country.name}}</td>
    <td>{{ country.area}}</td>
    <td>{{ country.countryCodeTwo}}</td>
    <td><a routerLink="../languages/{{country.id}}"> languages </a></td>
  </tr>

</table>
