<table>

  <tr>
    <th>Continents Name</th>
    <th>Regions Name</th>
    <th>Country Name</th>
    <th>Country Year</th>
    <th>Country Population</th>
    <th>Country GDP</th>
  </tr>

  <tr *ngFor = "let continentCountry of continentCountries | async">
    <td>{{ continentCountry.continentName}}</td>
    <td>{{ continentCountry.regionName}}</td>
    <td>{{ continentCountry.countryName}}</td>
    <td>{{ continentCountry.year}}</td>
    <td>{{ continentCountry.population}}</td>
    <td>{{ continentCountry.gdp}}</td>
  </tr>

</table>

