<table>

  <tr>
    <th>Country Name</th>
    <th>Country Code 3</th>
    <th>Country Year</th>
    <th>Country Population</th>
    <th>Country GDP</th>
  </tr>

  <tr *ngFor = "let countriesstat of countriesStats | async">
    <td>{{ countriesstat.name}}</td>
    <td>{{ countriesstat.countryCodeThree}}</td>
    <td>{{ countriesstat.year}}</td>
    <td>{{ countriesstat.population}}</td>
    <td>{{ countriesstat.gdp}}</td>
  </tr>

</table>
